body {

    padding: 0;

    margin: 0;

    background-color: #454d6b;

}

#Cadastro {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

